In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
pd.read_csv('./data/pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
nameSeries = pd.read_csv('./data/pokemon.csv', usecols=['Name'], squeeze=True)
nameSeries

/tmp/ipykernel_8277/1407571019.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  nameSeries = pd.read_csv('./data/pokemon.csv', usecols=['Name'], squeeze=True)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [6]:
nameSeries = pd.read_csv('./data/pokemon.csv', usecols=['Name']).squeeze('columns')
nameSeries

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [7]:
speadSeries = pd.read_csv('./data/pokemon.csv', usecols=['Speed']).squeeze('columns')
speadSeries

0       45
1       60
2       80
3       80
4       65
      ...
795     50
796    110
797     70
798     80
799     70
Name: Speed, Length: 800, dtype: int64

In [8]:
speadSeries.head()

0    45
1    60
2    80
3    80
4    65
Name: Speed, dtype: int64

In [9]:
speadSeries.size

800

In [13]:
education = pd.read_csv('./data/developer_survey_2017/survey_results_public.csv', usecols=['FormalEducation'])

In [14]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [12]:
type(education)

pandas.core.series.Series

In [16]:
education = pd.read_csv('./data/developer_survey_2017/survey_results_public.csv', usecols=['FormalEducation']).squeeze('columns')
education.head()

0                                     Secondary school
1    Some college/university study without earning ...
2                                    Bachelor's degree
3                                      Doctoral degree
4                                      Master's degree
Name: FormalEducation, dtype: object

In [17]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [18]:
allInfo = pd.read_csv('./data/developer_survey_2017/survey_results_public.csv')
allInfo

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51387,51388,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,A social science,A few days each month,100 to 499 employees,...,Disagree,Male,A doctoral degree,East Asian; White or of European descent,Disagree,Agree,Strongly disagree,Strongly agree,58000.0,NaN
51388,51389,Student,No,Venezuela,"Yes, full-time",Employed full-time,Master's degree,Computer programming or Web development,Never,100 to 499 employees,...,NaN,Male,A master's degree,Black or of African descent; Hispanic or Latin...,Somewhat agree,Agree,Disagree,Agree,NaN,NaN
51389,51390,Professional developer,"Yes, I program as a hobby",Canada,No,Employed full-time,Some college/university study without earning ...,"Information technology, networking, or system ...","Less than half the time, but at least one day ...",10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51390,51391,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,Computer science or software engineering,Never,Fewer than 10 employees,...,Disagree,Male,A bachelor's degree,White or of European descent,Disagree,Agree,Disagree,Strongly agree,40000.0,NaN
51391,51392,Professional non-developer who sometimes write...,No,Ireland,No,Employed full-time,Bachelor's degree,Computer science or software engineering,It's complicated,"10,000 or more employees",...,Somewhat agree,Male,A bachelor's degree,White or of European descent,Somewhat agree,Strongly agree,Disagree,Strongly agree,NaN,NaN

In [19]:
country = allInfo['Country']
country

0         United States
1        United Kingdom
2        United Kingdom
3         United States
4           Switzerland
              ...
51387     United States
51388         Venezuela
51389            Canada
51390     United States
51391           Ireland
Name: Country, Length: 51392, dtype: object

In [21]:
filterOnlyUSA = country.where(country == "United States").dropna()
filterOnlyUSA

0        United States
3        United States
6        United States
10       United States
15       United States
             ...
51380    United States
51381    United States
51384    United States
51387    United States
51390    United States
Name: Country, Length: 11455, dtype: object

In [22]:
filterOnlyUSA = country == "United States"
education.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object