In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
air = pd.read_csv("data/Air_Traffic_Passenger_Statistics.csv")

In [3]:
air.index

RangeIndex(start=0, stop=18398, step=1)

In [5]:
air.set_index(["Operating Airline","Activity Period"], inplace=True)

In [6]:
air.index

MultiIndex([(    'ATA Airlines', 200507),
            (    'ATA Airlines', 200507),
            (    'ATA Airlines', 200507),
            (      'Air Canada', 200507),
            (      'Air Canada', 200507),
            (       'Air China', 200507),
            (       'Air China', 200507),
            (      'Air France', 200507),
            (      'Air France', 200507),
            ( 'Air New Zealand', 200507),
            ...
            (  'Virgin America', 201803),
            (  'Virgin America', 201803),
            (  'Virgin America', 201803),
            ( 'Virgin Atlantic', 201803),
            ( 'Virgin Atlantic', 201803),
            ('Volaris Airlines', 201803),
            ('Volaris Airlines', 201803),
            (         'WOW Air', 201803),
            (         'WOW Air', 201803),
            (         'WOW Air', 201803)],
           names=['Operating Airline', 'Activity Period'], length=18398)

In [7]:
air.index.get_level_values(0)

Index(['ATA Airlines', 'ATA Airlines', 'ATA Airlines', 'Air Canada',
       'Air Canada', 'Air China', 'Air China', 'Air France', 'Air France',
       'Air New Zealand',
       ...
       'Virgin America', 'Virgin America', 'Virgin America', 'Virgin Atlantic',
       'Virgin Atlantic', 'Volaris Airlines', 'Volaris Airlines', 'WOW Air',
       'WOW Air', 'WOW Air'],
      dtype='object', name='Operating Airline', length=18398)

In [8]:
air.index.get_level_values(1)

Int64Index([200507, 200507, 200507, 200507, 200507, 200507, 200507, 200507,
            200507, 200507,
            ...
            201803, 201803, 201803, 201803, 201803, 201803, 201803, 201803,
            201803, 201803],
           dtype='int64', name='Activity Period', length=18398)

In [10]:
air.index.names

FrozenList(['Operating Airline', 'Activity Period'])

In [15]:
air.reset_index()

,Operating Airline,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
...,...,...,...,...,...,...,...,...,...,...,...,...
18393,Volaris Airlines,201803,Y4,Volaris Airlines,Y4,International,Mexico,Deplaned,Low Fare,International,A,4347
18394,Volaris Airlines,201803,Y4,Volaris Airlines,Y4,International,Mexico,Enplaned,Low Fare,International,A,4228
18395,WOW Air,201803,WW,WOW Air,WW,International,Europe,Enplaned,Other,International,A,4292
18396,WOW Air,201803,WW,WOW Air,WW,International,Europe,Deplaned,Other,International,G,2699
18397,WOW Air,201803,WW,WOW Air,WW,International,Europe,Enplaned,Other,International,G,10

In [20]:
air.set_index("Published Airline",inplace=True)
air.head(10)

,Operating Airline IATA Code,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
Published Airline,,,,,,,,,
ATA Airlines,TZ,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
ATA Airlines,TZ,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
ATA Airlines,TZ,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
Air Canada,AC,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
Air Canada,AC,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
Air China,CA,CA,International,Asia,Deplaned,Other,International,G,6263
Air China,CA,CA,International,Asia,Enplaned,Other,International,G,5500
Air France,AF,AF,International,Europe,Deplaned,Other,International,A,12050
Air France,AF,AF,International,Europe,Enplaned,Other,International,A,11638
Air New Zealand,NZ,NZ,International,Australia / Oceania,Deplaned,Other,International,G,4998

In [21]:
air.reset_index()

,Published Airline,Operating Airline IATA Code,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,TZ,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,TZ,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,TZ,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,AC,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,AC,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
...,...,...,...,...,...,...,...,...,...,...
18393,Volaris Airlines,Y4,Y4,International,Mexico,Deplaned,Low Fare,International,A,4347
18394,Volaris Airlines,Y4,Y4,International,Mexico,Enplaned,Low Fare,International,A,4228
18395,WOW Air,WW,WW,International,Europe,Enplaned,Other,International,A,4292
18396,WOW Air,WW,WW,International,Europe,Deplaned,Other,International,G,2699
18397,WOW Air,WW,WW,International,Europe,Enplaned,Other,International,G,10

In [22]:

air.columns

Index(['Operating Airline IATA Code', 'Published Airline IATA Code',
       'GEO Summary', 'GEO Region', 'Activity Type Code',
       'Price Category Code', 'Terminal', 'Boarding Area', 'Passenger Count'],
      dtype='object')